<ul class="BarList">
    <li class="BarLi"><span class="ChartLabel">Embedded JDK8</span><span class="BarSep"> : </span><span class="BarValue"
            style="--bar-length:88%">181.1</span></li>
    <li class="BarLi"><span class="ChartLabel">AdoptOpenJDK 1.8.0_265</span><span class="BarSep"> : </span><span
            class="BarValue" style="--bar-length:82%">170.6</span></li>
    <li class="BarLi"><span class="ChartLabel">AdoptOpenJDK 14.0.2</span><span class="BarSep"> : </span><span
            class="BarValue" style="--bar-length:90%">185.2</span></li>
    <li class="BarLi"> <span class="XTicks">
            <span class="TickLabel" style="--tick-label:'0.0'"></span>
            <span class="TickLabel" style="--tick-label:'51.4'"></span>
            <span class="TickLabel" style="--tick-label:'102.9'"></span>
            <span class="TickLabel" style="--tick-label:'154.3'"></span>
            <span class="TickLabel" style="--tick-label:'205.8'"></span>
        </span>
    </li>
</ul>