name: Test Jekyll site

on: [push, pull_request]

jobs:
  github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
          bundler-cache: true
      - name: Install dependencies
        run: bundle install
      - name: Cache HTMLProofer
        id: cache-htmlproofer
        uses: actions/cache@v5
        with:
          path: tmp/.htmlproofer
          key: ${{ runner.os }}-htmlproofer
      - name: Build site
        run: bundle exec jekyll build
      - name: HTML proof
        # TODO: Add this exception to markdown
        run: bundle exec htmlproofer --ignore-urls "https://developer.android.com/reference/android/support/v4/app/FragmentTransaction.html#setreorderingallowed" --ignore-status-codes "307,403"  ./_site
